<link href='https://fonts.googleapis.com/css?family=Ubuntu:500' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="../public/stylesheets/login.css">

<div class="login">
  <div class="login-header">
    <h1>Event Details</h1>
    <h6 style="color: black;"><%= event.title %></h6>
    <h6 style="color: black;"><%= event.date %></h6>
    <h6 style="color: black;"><%= event.description %></h6>
    <form method="POST" action="/events/<%= event._id %>?_method=PATCH">
        <!-- <form method="POST" action="/events/<%= event._id %>"> -->
  </div>
  <div class="login-form">
    <h3>Title:</h3>
    <label for="title"></label>
    <input
    type="text"
    name="title"
    placeholder="Enter Title"
/>
    <h3>Date:</h3>
    <label for="date"></label>
    <input
      type="text"
      name="date"
      placeholder="Enter Date"
    />
    <h3>Description:</h3>
    <label for="description"></label>
    <input
      type="text"
      name="description"
      placeholder="Enter Description"
    />
    <br>
    <input type="submit" value="Edit Event">
  </form>
  <form method="POST" action="/events/<%= event._id %>?_method=DELETE">
    <input type="submit" value="Delete Event">
</form>
<a href="/events">Go Back</a>
  </div>
</div>